<html>
<head><title>OX - Counter::Over::Engineered Example</title>
<body>
<h1>[% outlet({ type => 'text', bind_to => 'model/count' }) %]</h1>
<hr/>
[% action({ type => 'link', bind_to => 'inc', body => '++' }) %]
&nbsp;&nbsp;|&nbsp;&nbsp;
[% action({ type => 'link', bind_to => 'dec', body => '--' }) %]
&nbsp;&nbsp;|&nbsp;&nbsp;
[% action({ type => 'link', bind_to => 'reset', body => 'reset' }) %]
<hr/>
[% FOREACH num IN [ 100, 200, 1000 ] %]
    [%
        action({
            type    => 'link',
            bind_to => { 'set' => { number => num } },
            body    => 'set to ' _ num
        })
    %]<br/>
[% END %]
</body>
</html>