<html>
<head><title>OX - Guestbook Example</title>
<body>
<form method="POST" action="[% r.uri_for({ resource => 'guestbook', transform => 'text/html' }) %]">
    <input type='text' name='note' />
    <input type='submit' value='Add New Post' />
</form>
<hr/>
<a href="[% r.uri_for({ resource => 'guestbook', transform => 'application/json' }) %]">get as JSON</a>
<hr/>
<div id="posts">[%- FOREACH post IN this.posts -%]<div class="post">[% post %]</div>[%- END -%]</div>
</body>
</html>